.measurement .searchBar .ivu-form-item-label,
.measurement .searchBar .ivu-form-item-content {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #666666;
}


.measurement .searchBar .endDateForm .ivu-form-item-label:before {
  content: ''
}

.measurement .searchBar .endDateForm .ivu-form-item-label {
  width: auto !important;
}

.measurement .searchBar .endDateForm .ivu-form-item-content {
  margin-left: 0 !important;
}

.measurement .ivu-table-column-center .ivu-table-cell .thead-cell span {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #009999;
}
