.managerAnalysis{
  .title{
    color:  #448c86;
    font-size: 20px;
    font-weight:bold;
  }
  .currentRank,.mark{
    font-size: 20px;
    font-weight: bold;
    margin-right:30px;
    color: #D68381;
  }
  .extra{
    margin-right:20px;
    line-height: 1;
  }
  .extraImg{
    transform: rotate(45deg);
  }
  .argSpan{
    margin-right: 20px;
  }
  .argSpan1{
    margin-right: 3px;
  }
  .argSpanNormal{
    color: #448c86;
  }
 .argSpanAlarm{
    color: #D68381;
  }
  a.argSpanNormal{
    color: #448c86;
    text-decoration:underline;
  }
  a.argSpanAlarm{
    color: #D68381;
    text-decoration:underline;
  }
  .cardDiv{
    margin-top: 18px;
    margin-left: 1%;
  }
  .cardTable{
    border-spacing: 10px;
  }
  .cardTable tr:nth-child(even){
    background: #EEE;
  }
  .buttonBox{
    position: fixed;
    right: 80px;
    top: 300px;
  }
  legend {
    margin-left: 20px;
    font-family:'Arial Negreta', 'Arial';
    font-weight:600;
    font-style:normal;
    font-size:14px;
    color:#009999;
  }
  fieldset {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  fieldset .ivu-col {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  .rightLegend {
    float: right;
    margin-top: -30px;
    margin-right: 20px;
    background-color: #ffffff;
    width:auto;
  }
  .buttonBox{
    position: fixed;
    right: 3%;
    top: 40%;
    z-index: 900;
  }
  .buttonBoxDiv{
    width: 60px;
    height: 60px;
    background:inherit;
    border:none;
    border-radius:4px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:16px;
    color: #ffffff;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .buttonBoxDivSearch{
    background-color:rgba(0, 0, 0, 0.4);
  }
  .buttonBoxDivChange{
    background-color:rgba(0, 153, 153, 1);
  }
  .buttonBoxDivChange p{
    font-size: 18px;
    width: 45px;
    height: 45px;
    line-height: 22px;
    text-align: center;
  }
  .buttonBoxDivFilter{
    background-color:rgba(0, 0, 0, 0.4);
  }

  .buttonBoxDivFilter:hover{
    background-color:rgba(0, 0, 0, 0.6);
  }
  .buttonBoxDivFilter.selected{
    background-color: rgba(0, 153, 153, 1);
  }
  .buttonBoxDivMenu{
    background-color:rgba(0, 0, 0, 0.4);
  }
  .buttonBoxImgSearch{
    transform: rotate(-45deg);
  }
  .buttonBoxImgMenuBackground{
    background-image: url("../../images/u48800.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .searchBar{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    z-index: 99;
    display: flex;
    align-items: center;
    background:inherit;
    background-color:rgba(252, 252, 252, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(232, 234, 236, 1);
    border-radius:4px;
    -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.156862745098039);
    -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.156862745098039);
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.156862745098039);
    transition: .3s;
  }
  .searchBar .ivu-card-body{
    height: 100px;
    line-height: 100px;
  }
  .menu-bottom{
    position: relative;
  }
  .menu-bottom .linkBox{
    height: 150px;
    width: 180px;
    background: url("../../images/u41486.png") no-repeat;
    position:absolute;
    bottom: 0px;
    right: 60px;
    padding: 0px 10px;
  }
  .linkBox div{
    height: 42px;
    line-height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
  .linkBox div.selected,.linkBox div:hover{
    background: url(../../images/bg_mover.png) no-repeat;
    background-size: 100% 100%;
  }
  .linkBox .comprehensive div,.linkBox .org_Management div ,.linkBox .manager_Appraise div{
    width: 28px;
    height: 28px;
    background-color: rgba(4, 223, 213, 1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 0 15px 0 10px;
  }
  .linkBox .comprehensive{
    border-bottom: 1px solid rgba(4, 223, 213, 1);
    margin: 5px 0 5px 0;
  }
  .linkBox .org_Management{
    border-bottom: 1px solid rgba(4, 223, 213, 1);
    margin: 5px 0 5px 0;
  }
  .linkImg{
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:28px;
    background:inherit;
    background-color:rgba(4, 201, 223, 1);
    border:none;
    border-radius:4px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:16px;
    color:#FFFFFF;
  }
}
