.miss-lineLose{
  &-tabs{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    &-tab{
      width: 140px;
      position: relative;
      display: inline-block;
      text-align: center;
      margin: 2px 5px;
      padding-top: 5px;
      &-logo{
        display: block;
        margin: auto;
        width: 64px;
        height: 64px;
        background: #41bfa8;
        border-radius: 50%;
        img{
          width: 64px;
          height: 64px;
          padding: 14px;
        }
      }
      &-warn{
        position: absolute;
        right: 25px;
        top: 50px;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url("./img/u5390.png");
      }
      &-title{
        display: block;
        margin-top: 5px;
        color: #41bfa9;
      }
      &-data{
        display: block;
        font-size: 23px;
        font-weight: bold;
      }
      &-data-qualified{
        color: #009933;
      }
      &-data-warn{
        cursor: pointer;
        color: #da0000;
        text-decoration: underline;
      }
    }
    &-tab:hover{
      transition: .3s;
      border-radius: 8px;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
      background: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
    }
  }
}
