.miss-card {
  .ivu-card-body {
    padding: 0;
  }
  .ivu-card {
    margin-top: 20px !important;
  }
  &-toolBox {
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 99;
    &-button {
      cursor: pointer;
      margin-right: 5px;
    }
  }
  &-fullScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 9999;
  }
}

.miss-card > .ivu-card-bordered {
  border: none;
}
