.loadExecutionDecomposition-contain{
    width: 99.8%;
    height: 676px;
    background: inherit;
    background-color: rgba(252, 252, 252, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    .loadExecutionDecomposition-contain-header{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 44px;
        background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(226, 226, 226, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        img{
            position: absolute;
            left: 15px;
            top: 12px;
            width: 8px;
            height: 20px;
        };
        p{
            position: absolute;
            left: 26px;
            top: 12px;
            font-size: 16px;
            color: #009999;
        }
    };
    .machineName{
        width: 98%;
        height: 74px;
        position: absolute;
        left: 15px;
        top: 55px;
        background-color: rgba(252, 252, 252, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(215, 215, 215, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        .machineName-body{
            width: 100%;
            height: 28px;
            
            position: absolute;
            left: 30px;
            top: 25px;
            .machineName-title{
                position: absolute;
                left: -15px;
                top: -35px;
                background-color: #ffffff;
                color: #009999;
                font-weight: 600;
            }
            .box1{
                span:last-child{
                    color: #009999;
                }
            }
        }
    };
    .executeBreakdownPlan{
        margin-top: 100px;
        height: 264px;
        background: inherit;
        background-color: rgba(252, 252, 252, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(215, 215, 215, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        .executeBreakdownPlan-header{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 44px;
            background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(226, 226, 226, 1);
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            img{
                position: absolute;
                left: 15px;
                top: 12px;
                width: 8px;
                height: 20px;
            };
            p{
                position: absolute;
                left: 26px;
                top: 12px;
                font-size: 16px;
                color: #009999;
            }
        };
        .executeBreakdown-form{
            width: 100%;
            margin-top: 5px;
            .ivu-table-header{
                color: #009999;
                font-weight: bold;
            }
        }
    };
    .loadAnalysisOne{
        margin-top: 100px;
        margin-left: 5px;
        height: 264px;
        background: inherit;
        background-color: rgba(252, 252, 252, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(215, 215, 215, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        .header{
            position: absolute;
            left: 0px;
            top: 0px;
            float:left;
            width: 100%;
            height: 44px;
            background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(226, 226, 226, 1);
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            img{
                position: absolute;
                left: 15px;
                top: 12px;
                width: 8px;
                height: 20px;
            };
            p{
                position: absolute;
                left: 26px;
                top: 12px;
                font-size: 16px;
                color: #009999;
            };
            
        };
        .loadAnalysisOne-right{
            position: absolute;
            right: 10px;
            top: 10px;
            width: 56%;
            height: 26px;

            .loadAnalysisOne-right-box1{
                height: 26px;
                line-height: 26px;
                margin-right: 10px;
                span:nth-of-type(1){
                    display: block;
                    // width: 70%;
                    text-align: center;
                    height: 24px;
                    line-height: 24px;
                    background: #009999;
                    font-size: 12px;
                    color: #ffffff;
                    float: left;
                    border-radius: 4px;
                };
                span:nth-of-type(2){
                    font-size: 12px;
                    margin-left: 5px;
                    color: #009999;
                };
                .ivu-input-wrapper{
                    width: 48%;
                    margin-left: 2px;
                    color: #009999;
                    text-align: center;
                }
            }

            span:hover{
                cursor: pointer;
            };
        };
        // .loadAnalysisOne{
        //     width: 100%;
        //     height: 210px;
            
        // }
        .loadAnalysisOne-echart{
            width: 100%;
            height: 210px;
        }
    };
    .actualControlUnit{
        margin-top: 10px;
        height: 240px;
        background: inherit;
        background-color: rgba(252, 252, 252, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(215, 215, 215, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        .actualControlUnit-header{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 44px;
            background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(226, 226, 226, 1);
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            img{
                position: absolute;
                left: 15px;
                top: 12px;
                width: 8px;
                height: 20px;
            };
            p{
                position: absolute;
                left: 26px;
                top: 12px;
                font-size: 16px;
                color: #009999;
            };
            .actualControlUnit-box{
                position: absolute;
                right: 15px;
                top: 8px;
                width: 120px;
                height: 26px;
                border: 1px solid #cccccc;
                border-radius: 4px;
                span:first-child{
                    display: block;
                    width: 59px;
                    height: 24px;
                    float: left;
                    text-align: center;
                    line-height: 24px;
                    border-right: 1px solid #cccccc;
                };
                span:last-child{
                    display: block;
                    width: 59px;
                    height: 24px;
                    // background: #009999;
                    float: left;
                    text-align: center;
                    line-height: 24px;
                };
            }
        };
        .echart-box{
            width: 100%;
            height: 190px;
            .actualControlUnit-echart{
                width: 100%;
                height: 180px;
                margin-top: 10px;
            };
             
        }
        .right-icon-box{
            width: 10%;
            height: 120px;
           //  border:1px solid red;
           padding-top: 10px;
            position: absolute;
            right: 0.5%;
            top:70px;
            .icon-box1{
                width: 100%;
                height: 20px;
                margin-top: 10px;
               //  background: pink;
                h5{
                    width: 13px;
                    height: 13px;
                    background: #07DB8A;
                    float: left;
                    margin-top: 5px;
                    margin-right: 8%;
                    font-weight: 400;
                }
            };
            .icon-box2{
                h5{
                   background: #0099FF;
                }
            };
            .icon-box3{
               h5{
                  background: #FF9933;
               }
           }
        }
        .actualControlForm{
            margin-top: 5px;
            width: 100%;
            .ivu-table-header{
                color: #009999;
                font-weight: bold;
            }
        };
    }
}
