.exceptionAlarmMain .chooseBar,
.exceptionAlarmMain .alarmStatisticsMain .statisticsResultBar,
.exceptionAlarmMain .alarmSelectedMain .selectedResultBar {
  height: 45px;
  background: linear-gradient(180deg,
      rgba(252, 252, 252, 1) 0%,
      rgba(252, 252, 252, 1) 0%,
      rgba(246, 246, 246, 1) 100%,
      rgba(246, 246, 246, 1) 100%);
  margin-bottom: 5px;
  border: 1px solid rgba(226, 226, 226, 1);
  border-radius: 4px;
  padding-left: 10px;
}

.alarmStatisticsMain .searchBar .ivu-form-item-label,
.alarmStatisticsMain .searchBar .ivu-form-item-content {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.alarmSelectedMain .searchBar .searchBtnControl .ivu-form-item-content {
  margin-left: 65% !important;
}

.alarmSelectedMain .ivu-table-column-center .ivu-table-cell .thead-cell span {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #009999;
}
