.title{
  color:  #448c86;
  font-size: 20px;
  font-weight:bold;
}

.scoreLabel{
  margin-bottom: 3px;
  margin-left: 0;
}
.score{
  color: red;
  font-size: 24px;
  margin-right: 17px;
}
.extraImg{
  transform: rotate(45deg);
}
.argSpan{
  margin-right: 20px;
}
.argSpan1{
  margin-right: 3px;
}
.argSpanNormal{
  color: #448c86;
}
.argSpanAlarm{
  color: red;
  text-decoration:underline;
}
//.cardDiv{
//  margin-top: 18px;
//  margin-left: 1%;
//}
.cardTable{
  border-spacing: 10px;
}
.cardTable tr:nth-child(even){
  background: #EEE;
}
.buttonBox{
  position: fixed;
  right: 80px;
  top: 300px;
}
