.userMeasurement .ivu-card-body {
  padding: 0;
}

.userMeasurement .ivu-table-column-center .ivu-table-cell .thead-cell span {
  font-weight: 700;
  font-size: 12px;
  color: #00AEAE;
}

.userMeasurementModal .ivu-modal-body,
.battleModal .ivu-modal-body {
  background-color: rgba(242, 242, 242, 1);
}

.userMeasurementModal .ivu-form-item-label {
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  width: 150px;
  text-align: left;
}

.userMeasurementModal .ivu-form-item-label:before,
.userMeasurementModal .settleTotalICol .ivu-form-item-label:before,
.userMeasurementModal .ivu-form-item-error-tip:before {
  content: '';
  width: 20px;
  display: inline-block;
  margin-right: 4px;
  line-height: 1;
  font-size: 12px;
  color: #ed4014;
}


.battleModal .battleEditArea textarea {
  resize: none;
  margin-bottom: 10px;
}


.battleModal .battleEditArea textarea::-webkit-scrollbar {
  width: 3px;
}

.battleModal .battleEditArea textarea::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

/* 滚动条的内层滑轨背景颜色 */

.battleModal .battleEditArea textarea::-webkit-scrollbar-track {
  background-color: #fff;
}

/* 滚动条的外层滑轨背景颜色 */

.battleModal .battleEditArea textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

/* 滚动条的内层滑块颜色 */

.battleModal .battleEditArea textarea::-webkit-scrollbar-button {
  background-color: #fff;
  display: none;
}
