.detailOfSinglePlantPlan-clickBar{
    width: 30px;
    height: 30px;
    background: #cccccc;
    position: absolute;
    left: 0px;
    top: 275px;
    z-index: 100;
    .leftIcon{
        position: absolute;
        left: 0px;
        top: 3px;
        width: 20px;
        height: 20px;
        display: inline-block;
        font-family: "Ionicons";
        // speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        vertical-align: middle;
    };
    .rightIcon{
        position: absolute;
        left: 3px;
        top: 3px;
        width: 20px;
        height: 20px;
        display: inline-block;
        font-family: "Ionicons";
        // speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        vertical-align: middle;
    }
}
.detailOfSinglePlantPlan-left{
    // position: absolute;
    // left: -16%;
    // top: 0px;
    float: left;
    margin-left: -16%;
    width: 15%;
    height: 676px;
    background: inherit;
    background-color: rgba(252, 252, 252, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    .header{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 44px;
        background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(226, 226, 226, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        img{
            position: absolute;
            left: 13px;
            top: 12px;
            width: 8px;
            height: 20px;
        };
        p{
            position: absolute;
            left: 26px;
            top: 12px;
            font-size: 16px;
            color: #009999;
        };
    };
    .ipt{
        width: 80%;
        position: absolute;
        left: 5px;
        top: 55px;
    };
    .searchBox{
        width: 80%;
        min-height: 40px;
        border: 1px solid #cccccc;
        position: absolute;
        left: 5px;
        top: 79px;
        z-index: 100;
        li{
            color: #009999;
            width: 110px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 10px;
            margin-top: 5px;
        }
    }
    .img{
        width: 14px;
        height: 16px;
        position: absolute;
        right: 25%;
        top: 60px;
        transform:rotate(-45deg);
    }
    
    .navbar{
        // width: 150px;
        height: 200px;
        position: absolute;
        left: 5px;
        top: 90px;       
        // border: 1px solid #cccccc;
        h5{
          color: #666666;
        }
        .line{
            width: 150px;
            height: 550px;
            background: red;
            position: absolute;
            color: #cccccc;
            left: 15px;
            top: 30px;
            overflow: hidden;
            .radio{
                width: 13px;
                height: 13px;
                border: 1px solid #ffffff;
                background: #cccccc;
                border-radius: 50%;
                float: left;
                margin-top: 5px;
                margin-right: 10px;
                &.isBackgroundcolor {
                    background-color: #009999;
                  }
            }
            li{
              width: 120px;
              margin-bottom: 10px;
              list-style: none;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
        }
    }
};
.palneDetails{
    margin-left: 0px;
    margin-top: 5px;
    width: 100%;
    height: 676px;
    background: inherit;
    background-color: rgba(252, 252, 252, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    .header{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 44px;
        background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(226, 226, 226, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        img{
            position: absolute;
            left: 15px;
            top: 12px;
            width: 8px;
            height: 20px;
        };
        p{
            position: absolute;
            left: 26px;
            top: 12px;
            font-size: 16px;
            color: #009999;
        };
    };
    .detaiInformation{
        float: left;
        margin-left: -5px;
        margin-top: 6px;
        width: 17%;
        height: 615px;
        background: inherit;
        background-color: rgba(252, 252, 252, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(228, 228, 228, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding:5px 5px;
        h3{
            font-size: 13px;
            font-family: '苹方 中等', '苹方';
            font-weight: 700;
            font-style: normal;
            color: #009999;
            margin-bottom: 8px;
        };
        p{
            margin-bottom: 18px;
            span:last-child{
                color: #009999;
            }
        }
    };
    .generationPlanExecutionTest{
        float: left;
        margin-left: 10px;
        
        margin-top: 6px;
        width: 41.5%;
        height: 280px;
        background: inherit;
        background-color: rgba(252, 252, 252, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(228, 228, 228, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding:5px 5px;
        h3{
            font-size: 13px;
            font-family: '苹方 中等', '苹方';
            font-weight: 700;
            font-style: normal;
            color: #009999;
            margin-bottom: 8px;
        };
        .echart{
            width: 100%;
            height: 230px;
        }
    };
    .generatingPlanExecutionStatistics{
        float: left;
        margin-left: 10px;
        margin-top: 6px;
        width: 82%;
        height: 325px;
        background: inherit;
        background-color: rgba(252, 252, 252, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(228, 228, 228, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding:5px 5px;
        h3{
            font-size: 13px;
            font-family: '苹方 中等', '苹方';
            font-weight: 700;
            font-style: normal;
            color: #009999;
            margin-bottom: 8px;
        };
        .generatingPlan-box{
                float: right;
                margin-top: -30px;
                width: 120px;
                height: 26px;
                border: 1px solid #cccccc;
                border-radius: 4px;
                span:nth-of-type(1){
                    display: block;
                    width: 59px;
                    height: 24px;
                    float: left;
                    text-align: center;
                    line-height: 24px;
                    border-right: 1px solid #cccccc;
                };
                span:nth-of-type(2){
                    display: block;
                    width: 59px;
                    height: 24px;
                    // background: #009999;
                    float: left;
                    text-align: center;
                    line-height: 24px;
                };
                span:hover {
                  cursor: pointer;
                }
        }
        .formPage{
            width: 99%;
            height: 270px;
            margin-left: 5px;
            .ivu-table-header{
                color: #009999;
                font-weight: bold;
            };
            .page{
                margin-left: 200px;
                margin-top: px;
            }
        };
        .generatingPlan-echart-box{
            width: 100%;
            height: 270px;
            position: relative;
            .generatingPlan-echart{
                width: 100%;
                height: 270px;
                margin-left: 5px;
            };
            .right-icon-box{
                width: 9%;
                height: 120px;
                position: absolute;
                right: 0%;
                top:50px;
                .icon-box1{
                    width: 100%;
                    height: 20px;
                    margin-top: 10px;
                    h5{
                        width: 12px;
                        height: 12px;
                        background: #07DB8A;
                        float: left;
                        font-size: 9px;
                        margin-top: 7px;
                        margin-right: 5px;
                    }
                };
            }
        }

    };
    .priceMessage{
        margin-left: 10px;
        margin-top: 6px;
        float: left;
        width: 40%;
        height: 280px;
        background: inherit;
        background-color: rgba(252, 252, 252, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(228, 228, 228, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding:5px 5px;
        h3{
            font-size: 13px;
            font-family: '苹方 中等', '苹方';
            font-weight: 700;
            font-style: normal;
            color: #009999;
            margin-bottom: 8px;
        };
        .form{
            width: 98%;
            margin-left: 5px;
            height: 230px;
            .ivu-table-header{
                color: #009999;
                font-weight: bold;
            }
        }
    }
}
