.header {
  width: 1050px;
  height: 30px;
  background: white;
  float: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-center;
}

.font {
  font-family: "Microsoft YaHei";
  font-size: 13px;
  width: 65px;
  line-height: 30px;
  height: 30px
}

.objsel {
  width: 185px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  float: left;
}

.rowdate {
  width: 350px;
  height: 20px
}

.search {
  background: #17B3A3;
  width: 50px;
  float: left
}

.pages {
  width: 600px;
  height: 40px;
  margin-top: 10px;
  float: right
}

.tablecon {
  width: 1000px;
  height: auto;
  margin-top: 20px;
  background: white;
  float: left
}
