.controlPractice-container{
    width: 100%;
    height: 676px;
    background: inherit;
    background-color: rgba(252, 252, 252, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    .controlPractice-container-header{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 44px;
        background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(226, 226, 226, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        img{
            position: absolute;
            left: 15px;
            top: 12px;
            width: 8px;
            height: 20px;
        };
        p{
            position: absolute;
            left: 26px;
            top: 12px;
            font-size: 16px;
            color: #009999;
        };
        
    };
    .header-rightBox{
        width: 18%;
        height: 30px;
        position: absolute;
        top:0px;
        right:0%;
        margin-top: 5px;
        span:hover{
            cursor: pointer;
            color:rgb(0,153,255);
        };
        .container-header-box-left{
            // border: 1px solid red;
            margin-top: 10px;
            height: 18px;
            line-height: 18px;
            img{
                width: 14px;
                height: 14px;
            };
            span:nth-of-type(1){
                position: absolute;
                left: 22%;
                top: 8px;
                color: #009999;
                font-size: 13px;
                font-weight: 700;
            };
            span:nth-of-type(2){
                position: absolute;
                right: 10%;
                top: 8px;
                color: #009999;
            }
        };
        .container-header-box-right{
            border-right: 1px solid #ffffff;
        };

    }
    .practiceName{
        width: 100%;
        height: 50px;
        margin-top: 10px;
        background-color: rgba(252, 252, 252, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(215, 215, 215, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-align: center;
        span:hover{
            cursor: pointer;
        };
        .practiceName-title{
            width: 140px;
            height: 17px;
            font-size: 15px;
            color: #009999;
            font-weight: 600;
            margin-top: -13px;
        };
        .practiceName-container{
            width: 100%;
            margin-top: 10px;
            .ivu-col{
                font-size: 16px;
                span:nth-of-type(2){
                    color: #009999
                }
            }
        }

    };
    .controlPractice-top{
        height: 275px;
        .controlexecuteBreakdownPlan{
            // float: left;
            margin-top: 10px;
            margin-left: -5px;
            margin-right: 5px;
            background: #009999;
            // width: 46.5%;
            height: 275px;
            background: inherit;
            background-color: rgba(252, 252, 252, 1);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(215, 215, 215, 1);
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            .executeBreakdownPlan-header{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 44px;
                background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
                background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
                background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
                box-sizing: border-box;
                border-width: 1px;
                border-style: solid;
                border-color: rgba(226, 226, 226, 1);
                border-radius: 4px;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                span:hover{
                    cursor: pointer;
                };
                img{
                    position: absolute;
                    left: 15px;
                    top: 12px;
                    width: 8px;
                    height: 20px;
                };
                p:nth-of-type(1){
                    // position: absolute;
                    // left: 26px;
                    // top: 12px;
                    font-size: 16px;
                    color: #009999;
                    float: left;
                    margin-left: 28px;
                    margin-top: 12px;
                };
            };
                .executeBreakdownPlan-box{
                    width: 100%;
                    height: 95px;
                    // border: 1px solid red;
                    margin-top: 10px;
                    .input{
                        margin-top: 6px;
                        span{
                            font-size: 13px;
                        };
                        .inputBtn{
                            margin-left: 100px;
                            background: #009999;
                        }

                    };
                    // .radio{
                    //     font-size: 13px;
                    //     p{
                    //         color: #009999;
                    //     };
                    //     span{
                    //         margin-right: 15px;
                    //         float: left;
                    //     };
                    //     .ivu-radio-wrapper{
                    //         margin-right: 16px;
                    //         .ivu-radio-input{
                    //             width: 16px;
                    //             height: 16px;
                    //         }
                    //         .ivu-radio .ivu-radio-checked{
                    //             height: 20px;
                    //         }
                    //     }

                    // };
                    .decompositionPlan-title{
                        margin-left: 5px;
                        span{
                            color: #009999;
                            font-size: 13px;
                        };
                        span:nth-of-type(1){
                            margin-right: 4px;
                        }
                    }
                };
                .decompositionPlanTable{
                    width: 100%;
                    height: 40px;
                    // border: 1px solid red;
                    margin-top: 2.5%;
                    .decompositionPlanTable.ivu-table-header{
                        color: #009999;
                        font-weight: bold;
                    }
                };

        };
        .rehearseSituation{
            margin-top: 10px;
            height: 275px;
            background: inherit;
            background-color: rgba(252, 252, 252, 1);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(215, 215, 215, 1);
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            .rehearseSituation-header{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 44px;
                background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
                background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
                background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
                box-sizing: border-box;
                border-width: 1px;
                border-style: solid;
                border-color: rgba(226, 226, 226, 1);
                border-radius: 4px;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                img{
                    position: absolute;
                    left: 15px;
                    top: 12px;
                    width: 8px;
                    height: 20px;
                };
                p{
                    position: absolute;
                    left: 26px;
                    top: 12px;
                    font-size: 16px;
                    color: #009999;
                };
                
            };
            .rehearseSituation-span{
                position: absolute;
                right: 10px;
                top: 10px;
                width: 52%;
                height: 24px;
                .rehearseSituation-right-box1{
                    height: 26px;
                    line-height: 26px;
                    span:nth-of-type(1){
                        text-align: center;
                        font-size: 12px;
                        line-height: 24px;
                        background: #009999;
                        color: #ffffff;
                        float: left;
                        border-radius: 4px;
                    };
                    span:nth-of-type(2){
                        font-size: 12px;
                        margin-left: 5px;
                        margin-right: 5px;
                        color: #009999;
                    };
                }
                span:hover{
                    cursor: pointer;
                };
            }
            .rehearseSituation-echart{
                width: 100%;
                height: 210px;
            }
        };
    };
  .actualControlUnitSecond{
    margin-top: 20px;
    margin-left: -5px;
    height: 270px;
    background: inherit;
    background-color: rgba(252, 252, 252, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    .actualControlUnitSecond-header{
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 44px;
      background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
      background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
      background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
      box-sizing: border-box;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(226, 226, 226, 1);
      border-radius: 4px;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      img{
        position: absolute;
        left: 15px;
        top: 12px;
        width: 8px;
        height: 20px;
      };
      p{
        position: absolute;
        left: 26px;
        top: 12px;
        font-size: 16px;
        color: #009999;
      };
      .actualControlUnitSecond-box{
        position: absolute;
        right: 15px;
        top: 8px;
        width: 120px;
        height: 26px;
        border: 1px solid #cccccc;
        border-radius: 4px;
        span:hover{
          cursor: pointer;
        };
        span:first-child{
          display: block;
          width: 59px;
          height: 24px;
          float: left;
          text-align: center;
          line-height: 24px;
          border-right: 1px solid #cccccc;
        };
        span:last-child{
          display: block;
          width: 59px;
          height: 24px;
          float: left;
          text-align: center;
          line-height: 24px;
        };
      }
    };
    .actualControlUnitSecond-echart-box {
      width: 100%;
      height: 220px;
    //   border: 1px solid red;
      position: relative;
      .actualControlUnitSecond-echart {
        width: 100%;
        height: 210px;
      };
      .right-icon-box{
        width: 9%;
        height: 120px;
        // border:1px solid red;
        position: absolute;
        right: 0%;
        top:50px;
        .icon-box1{
            width: 100%;
            height: 20px;
            margin-top: 10px;
            h5{
                width: 10px;
                height: 10px;
                background: #07DB8A;
                float: left;
                font-size: 9px;
                margin-top: 5px;
                margin-right: 5px;
            }
        };
        .icon-box2{
            h5{
               background: #0099FF;
            }
        };
        .icon-box3{
           h5{
              background: #FF9933;
           }
       }
    }
    //   span {
    //     display: inline-block;
    //     position: absolute;
    //     left: 90%;
    //     top: 10px;
    //   }
    }
    .decompositionPlan{
      margin-top: 10px;
      width: 100%;
      height: 170px;
      .ivu-table-header{
        color: #009999;
        font-weight: bold;
      }
    };
  };
}
.historyPracticeEvent {
    width: 100%;
    height: 360px;
    .historyPracticeEvent-top {
        span:nth-of-type(1){
            margin-right: 10px;
        };
        span:nth-of-type(2){
            margin-right: 20px;
            margin-left: 20px;
        };
        .historyPracticeEvent-top-btn{
            width: 60px;
            background: #009999;
            color: aliceblue;
            float: right;
            border: 1px solid #ffffff;
            border-radius: 5px;
            margin-top: -3px;
            margin-right: 20px;
        }
    };
    .historyPracticeEvent-table{
        width: 100%;
        margin-top: 30px;
        .ivu-table-header{
            color: #009999;
            font-weight: bold;
        }
        span:nth-of-type(1){
            margin-left: 4px;
            font-weight: 600;
            color: #009999;
        };
        span:nth-of-type(2){
            color: #009999;
            margin-left: 10px;
            font-size: 14px;
            font-weight: 600;
        };
    };
    .historyPracticeEvent-page{
        margin-top: 10px;
        margin-left: 60px;
    };
    .historyPracticeEvent-btn{
        margin-top: 10px;
        text-align: center;
        .button1{
            width: 60px;
            background: #009999;
            color: aliceblue;
            margin-right: 10px;
        };
        .button2{
            width: 60px;
            background: #cccccc;
            color: aliceblue;
        };
    }

};
.exportHistoryPracticeEvent {
    width: 100%;
    height: 360px;
    .exportHistoryPracticeEvent-top {
        span:nth-of-type(1){
            margin-right: 10px;
        };
        span:nth-of-type(2){
            margin-right: 20px;
            margin-left: 20px;
            color: #009999;
        };
    };
    .exportHistoryPracticeEvent-table{
        width: 100%;
        margin-top: 30px;
        color: #009999;
        span:nth-of-type(1){
            margin-left: 4px;
            font-weight: 600;
            color: #009999;
        };
        span:nth-of-type(2){
            color: #009999;
            margin-left: 10px;
            font-size: 14px;
            font-weight: 600;
        };
        .exportHistoryPracticeEvent-table .ivu-table-header{
            color: #009999;
        }
    };
    // .exportHistoryPracticeEvent-btn{
    //     margin-top: 10px;
    //     text-align: center;
    //     .button1{
    //         width: 60px;
    //         background: #009999;
    //         color: aliceblue;
    //         margin-right: 10px;
    //     };
    //     .button2{
    //         width: 60px;
    //         background: #cccccc;
    //         color: aliceblue;
    //     };
    // }

};
