.photovoltaicDetail .photoDetailMainCard>.ivu-card-body {
  padding: 0;
}

.photovoltaicDetail .photoDetailMainCard .ivu-card-body {
  background-color: #fcfcfc;
  position: relative;
  height: 100%;
}

.photovoltaicDeviceModal .modalMain .textIcol .ivu-card-body,
.photovoltaicDeviceModal .modalMain .rightModalMain .ivu-card-body {
  padding: 10px !important;
}
