.tradeOff{    
    width: 99.5%;
    height: 668px;
    background: inherit;
    background-color: rgba(252, 252, 252, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    .tradeOff-header{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 44px;        
        background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(226, 226, 226, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;       
        img{
            position: absolute;
            left: 15px;
            top: 12px;
            width: 8px;
            height: 20px;
        };
        span{
            position: absolute;
            left: 26px;
            top: 14px;
            font-size: 16px;
            font-weight: 700;
            color: #009999;            
        };
      };
      .tradeOff-top{
         margin-top: 20px;
         width: 100%;
         height: 70px;
         .tradeOff-top-row1{
             margin-bottom: 15px;   
             .searchLine1{
                span{
                    margin-right:10px;                   
                }
              };
              .searchLine2{
                span{
                    margin-right:20px;
                    margin-left: 20px;
                }
              };
         };
         .tradeOff-top-row2{
             .searchLine1{
                span{
                    margin-right:10px;
                }
            };
            .tradeOff-top-row1-btn{
              width: 80px;
              border: 1px solid #009999;
              border-radius: 4px;
              background: #009999;
              color: #FFFFFF;
              margin-left: 2%;
             }
         }
      };
      .tradeOffForm{
        border: 1px solid red;
        margin-top: 30px;
        width: 100%;
        height: 490px;        
        background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(226, 226, 226, 1);
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        .tradeOffForm-header{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 44px;        
            background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            background: -moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(246, 246, 246, 1) 100%);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(226, 226, 226, 1);
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none; 
            img{
                position: absolute;
                left: 15px;
                top: 12px;
                width: 8px;
                height: 20px;
            };
            p{
                position: absolute;
                left: 26px;
                top: 12px;
                font-size: 16px;
                font-weight: 700;
                color: #009999;            
            };
        }        
        .form{
            position: absolute;
            left: 5px;
            top: 50px;
            width: 99%;
            height: 420px;
            .ivu-table-header{
                color: #009999;
                font-weight: bold;
            };
            // .ivu-table .demo-table-info-row{
            //     color: red;
            // }
        };
    };
         
};

.tradeOffFormShowDetails{
    width: 100%;
    height: 300px;
    span:nth-of-type(1){
        margin-right: 10px;
    };
    span:nth-of-type(2){
        margin-right: 20px;
        margin-left: 20px;
        color: #009999;
    };
    .tradeOffFormShowDetails-form{
        width: 100%;
        height: 100px;
        margin-top: 20px;
        .ivu-table-header{
            color: #009999;
            font-weight: bold;
        };
        
    };
    .tradeOffFormShowDetails-btn{
        width: 100%;
        margin-top: 100px;
        height: 35px;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        .button1{
            width: 80px;
            line-height: 33px;           
            text-align: center;
            background: #009999;
            color: aliceblue;
            border: 1px solid #ffffff;
            border-radius: 5px;
            margin-right: 30px;
        };
        .button2{
            width: 80px;
            line-height: 33px;  
            border: 1px solid #ffffff;
            border-radius: 5px;     
            text-align: center;
            background: #cccccc;
        };
    }
}