.title{
  color:  #448c86;
  font-size: 18px;
  font-weight:bold;
}
.scoreLabel{
  margin-bottom: 3px;
}
.score{
  color: red;
  font-size: 24px;
  margin-right: 17px;
}
.extraImg{
  transform: rotate(45deg);
}
.argSpan{
  margin-right: 10px;
}
.argSpanNormal{
  color: #448c86;
}
.argSpanAlarm{
  color: red;
  text-decoration:underline
}
.cardDiv{
  //margin-top: 18px;
  //margin-left: 1%;
}
.cardTable{
  border-spacing: 10px;
}
.cardTable tr:nth-child(even){
  background: #EEE;
}
// .buttonBox{
//   position: fixed;
//   right: 80px;
//   top: 300px;
// }

.lineLossModelDefend .ivu-card-head {
  height: 50.6px;
  padding: 14px 16px;
}

.lineLossModelDefend .ivu-card-extra {
  padding: 14px 16px;
}

.lineLossModelDefend .headTitle {
  color: #009999;
  font-size: 150%;
}

.lineLossModelDefend .headTitle2 {
  color: #009999;
  font-size: 150%;
}

.search {
  height: 40px;
  width: 70px;
}

.fold {
  color: #009999;
}

.addStyle {
  border: #00cc66 1px solid;
}
.cardhover:hover{
  border: #00cc66 1px solid;
}

.box {
  position: absolute;
  left: 1%;
  top: 0%;
}
.lineLossModelDefend{
  .menu-right{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      color: #009999;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .cursor{
      cursor: pointer;
    }
  }

  .menu-right-simple{
    width: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      color: #009999;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .cursor{
      cursor: pointer;
    }
  }
  .ivu-card-head{
    display: flex;
    justify-content: space-between;
    p{
      width: auto;
    }
  }
  .ivu-modal-header{
    width: 100%;
    display: flex;
    p{
      width: auto;
    }
    .title-left::after{
      content: '';
      display: block;
      width: 20px;
      height: 50px;
      background-color: #fff;
    }
  }
}


.sameLine{
  display: flex;
  align-items: center;
  //justify-content: space-between;
}
.searchButton{
  transform: rotate(-45deg);
  width: 21px;
  height: 30px;
}
.lineLossModelDefend .box span:nth-child(2) {
  display: none;
}
