.userView .ivu-card-body {
  background-color: #fcfcfc;
  height: 100%;
}

.userView .userListInput .ivu-input {
  padding: 6px 35px 6px 7px !important;
}

.userView .searchBar .ivu-form-item-label,
.userView .searchBar .ivu-form-item-content {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #666666;
}


.userView .searchBar .endDateForm .ivu-form-item-label:before {
  content: ''
}

.userView .searchBar .endDateForm .ivu-form-item-label {
  width: auto !important;
}

.userView .searchBar .endDateForm .ivu-form-item-content {
  margin-left: 0 !important;
}

.userView .ivu-table-column-center .ivu-table-cell .thead-cell span {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #009999;
}

.userView .settleTableCard .ivu-card-body {
  padding: 0;
}
